.team {
	.team-container {
		position: relative;
		z-index: 100000;
		margin-top: 50px;
		text-align: center;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		h1 {
			font-style: normal;
			font-weight: 700;
			font-size: 68px;
			line-height: 88px;
			color: #ffffff;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
		p {
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			text-align: center;
			color: #ffffff;
			width: 64%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.team-flex {
		overflow-x: auto !important;
		.flex-item {
			overflow: hidden;
			position: relative;
			width: 14%;
			flex-shrink: 0;
			flex-grow: 0;
			img {
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
			.over {
				// transform: translateX(100%);
				left: -200px;
				top: 0;
				bottom: 0;
			}
			.text-over {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -15%;
				h5 {
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					line-height: 31px;
					color: #ffffff;
					text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
			}
		}
		.flex-item:hover {
			.over {
				left: 0;
				transition: 0.4s linear;
			}
			.text-over {
				transition: 0.7s;
				bottom: 20%;
			}
		}
	}
	.qty {
		h4 {
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 31px;
			color: #d7080e;

			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
	.scroll {
		margin-top: 50px;
		h2 {
			margin-top: 10px;
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
		}
	}
}
