.navbar {
	.loader {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 200000;
		top: 0;
		bottom: 0;
		right: 100%;
		animation: loader 3s ease-in-out;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	@keyframes loader {
		0% {
			right: 0;
		}
		100% {
			right: 200%;
		}
	}
	.nav-res {
		position: fixed;
		inset: 0;
		background-color: black;
		z-index: 9000000 !important;
		.flex {
			a {
				color: #fff;
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 31px;
				color: #ffffff;
			}
		}
	}
	.navbar-top {
		position: relative;
		z-index: 10000;
		@media (min-width: 971px) {
			.bar-right {
				display: none;
			}
		}
		@media (max-width: 970px) {
			.lap-right {
				display: none;
			}
		}
		.nav-right {
			@media (max-width: 1090px) {
				gap: 30px;
			}
			a {
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 31px;
				font-family: "PT Sans";
				color: #fff;
				z-index: 120000;
				@media (max-width: 1210px) {
					font-size: 20px;
					@media (max-width: 1082px) {
						font-size: 18px;
					}
				}
			}
		}
	}
}
