.footer {
	// margin-top: 20px;
	position: absolute;
	width: 100%;
	bottom: 0;
	.footer-content {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		h6 {
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;
			text-align: right;
			color: #ffffff;
		}
		@media (max-width: 970px) {
			.footer-lap {
				display: none;
			}
			div {
				width: 100%;
				h6 {
					text-align: center;
				}
			}
			@media (max-width: 428px) {
				h6 {
					font-size: 16px;
				}
			}
		}
	}
}
